.encart_annonce{
    background-color: rgb(238, 238, 238);
    box-shadow: 0 0 0.2rem rgba(128, 128, 128, 0.493);
    margin-bottom: 2rem;
}

.encart_annonce img{
    max-width: 100%;
}

a .encart_annonce{
    color: black !important;
}
a .encart_annonce:hover{
    color: rgb(56, 111, 173) !important;
    text-decoration-color: rgb(168, 107, 79) !important;
}


/* Footer */
footer{
    padding-top: 1rem;
    margin-top: 1rem;
    padding-bottom: 2rem;
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: .8rem;
    width: 100%;
    text-align: center;
}

footer a{
    color: rgb(39, 39, 39);
}

h3{
    padding-top: 1.5rem;
}

h1{
    padding-top: 2rem;
    padding-bottom: 3rem;
}

nav li a{
    color: rgb(168, 107, 79) !important;
    font-size: 1.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer a{
    color: rgb(168, 107, 79) !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer a:hover{
    color: rgb(228, 116, 64) !important;
}

nav li a:hover{
    color: rgb(228, 116, 64) !important;
}

.encart_annonce h3{
    padding-top: .5rem;
}